@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    margin:0;
    background-color: #282D35;
    color:#FFFFFF;
}

.nav-bar{
    display: flex;
    align-items: center;
    padding: 30px 25px;
    height: 90px;
    background-color: #21222A;
    color: #DEEBF8;
}
.nav-bar h2,h3{
    margin:0;
}
.nav-bar h2{
    font-size: 22.5px;
    font-weight: 700;
    color: #61DAFB;
    
}
.nav-bar h3{ 
    font-size: 16px;
    font-weight: 600;
    margin-left: auto;
}

.nav-bar img{
    width:30px;
    margin-right:7px;
}
main{
    padding: 57px 27px;
    background-image:url("./images/react-icon-large.png");
    background-repeat: no-repeat;
    background-position:right;
}
main h1{
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}
main ul{
    margin-top:46px;
    max-width: 400px;
}
main ul li{
    line-height: 19px;
    padding-block: 10px;
}
main ul li::marker {
    color: #61DAFB;
    font-size: 1.4rem;
  }